.imgeTop {
    width: 100%;
    height: 100%;


}

.imgeTop img {
    width: 100%;
    height: 100%;
    max-width: auto;
    min-width: auto;
    max-height: auto;
    min-height: auto;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.container-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    grid-column: 1/5;
    grid-row: 4;
    color: #2f3105;
}

.head-h1 {

    text-transform: uppercase;
    font-weight: 700;
    color: #2f3105;
    margin-bottom: 1rem;
}

.head-h1 span {

    text-transform: none;
    font-weight: 700;
    color: #2f3105;
    margin-bottom: 1rem;
}