.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* padding: 2rem; */
    width: 100%;
    /* max-width: 1280px; */
    margin-left: auto;
    margin-right: auto;

}

.container-about {}

.imgeTop {
    width: 100%;
    height: auto;
    margin-bottom: 15rem;

}

.imgeTop img {
    width: 100vw;
    object-fit: cover;
    height: auto;
    position: fixed;
}

.Über-uns {
    display: flex;
    flex-direction: column;
    font-family: "Supreme", sans-serif;
    font-size: 1.5rem;
    margin-top: 4rem;
    backdrop-filter: blur(10px);

    padding: 1.5rem 3rem;

    background-color: #feffe9;
}

.Leitbild {
    display: flex;
    flex-direction: column;
    font-family: "Supreme", sans-serif;
    font-size: 1.5rem;
    backdrop-filter: blur(10px);
    background-color: #feffe9;
    padding: 0 3rem;
}

.head-h1 {
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #798645;
}

.lage {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: "Supreme", sans-serif;
    font-size: 1.5rem;

    backdrop-filter: blur(10px);
    padding: 3rem;
    background-color: #feffe9;
}

.Lage-h3 {
    font-size: 2rem;
    font-weight: 700;
    color: #798645;
}

strong {
    color: #798645;
}

.text-p {
    color: #222c05;
    font-size: 1.5rem;
}

.logo {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 2rem;
}

.logo img {
    width: 100%;
    height: auto;
    margin: 0 auto;
}



@media screen and (max-width: 900px) {
    .about {}

    .imgeTop img {
        width: 100%;
        object-fit: cover;
        height: auto;
        position: fixed;

    }

    .Über-uns {
        margin-top: 2rem;
        padding: 0 1rem;
    }

    .Leitbild {
        margin-top: 2rem;
        padding: 0 1rem;
    }

    .head-h1 {
        font-size: 2rem;
    }

    .lage {
        margin-top: 2rem;
        padding: 1rem;
    }

    .Lage-h3 {
        font-size: 1.5rem;
    }

    .text-p {
        font-size: 1rem;
    }

    .logo {
        padding: 1rem;
    }

    .logo img {
        width: 100%;
        height: auto;
        margin: 0 auto;
    }

    .map {
        width: 100%;
        height: 300px;
        margin-top: 20px;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
}

@media screen and (max-width: 700px) {
    .head-h1 {
        font-size: 1.5rem;
    }

    .Lage-h3 {
        font-size: 1.2rem;
    }

    .text-p {
        font-size: 1rem;
    }

    .logo {
        padding: 1rem;
    }

    .logo img {
        width: 100%;
        height: auto;
        margin: 0 auto;
    }

}

@media screen and (max-width: 500px) {
    .head-h1 {
        font-size: 1.5rem;
    }

    .Lage-h3 {
        font-size: 1.5rem;
    }

    .text-p {
        font-size: 1.1rem;
    }

    .logo {
        padding: 1rem;
    }

    .logo img {
        width: 100%;
        height: auto;
        margin: 0 auto;
    }

}