.kontaktContainer {
    min-height: 100dvh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 1rem;
    padding: 0 1rem;

}


/* ===================kontaktBox1==================== */
.kontaktBox1 {
    grid-column: 1/span 2;
    grid-row: 1;
    /* background-color: rgb(255, 174, 0); */
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.kontaktBox1 img {
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    object-fit: cover;
    object-position: center;
}

/* ===================kontaktBox2==================== */
.kontaktBox2 {
    grid-column: 1/span 2;
    grid-row: 2;
    /* background-color: aqua; */
    width: 100%;
}


.kontaktBox2 h1 {
    font-size: 4rem;
    color: #869f3e;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    padding: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-family: "Lucida", cursive;
    display: flex;
    justify-content: start;
    align-items: start;
    margin: 0 auto;
    max-width: 1200px;
}

/* ====================kontaktBox3=================== */
.kontaktBox3 {
    grid-column: 1/span 2;
    grid-row: 3;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
    gap: 20px;
    object-position: center;
    display: grid;
    grid-template-columns: 1fr 2fr;

}

.kontaktBox3 .kontaktImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

}

.kontaktBox3 .kontaktImg img {
    width: 100%;
    border-radius: 15px;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.kontaktBox3 .kontaktAdresse {
    width: 100%;
    height: 100%;
    padding: 2rem;
    background-color: #798645;
    border-radius: 15px;
    box-shadow: inset 5px 5px 3px #b7c197,
        inset -5px -5px 3px #dfebb9;
}

.kontaktBox3 .kontaktAdresse p {
    font-size: 1.4rem;
    color: #feffe9;
}

.kontaktBox3 .kontaktAdresse strong {
    font-size: 1.5rem;
    color: #c9f7a4;
}


.kontaktBox3 .kontaktAdresse span {
    font-size: 1.5rem;
    color: #feffe9;
}



.kontaktBox3 .kontaktAdresse a {
    color: #feffe9;
    text-decoration: none;
}


/* ======================kontaktBox4================= */
.kontaktBox4 {
    grid-column: 1/span 2;
    grid-row: 4;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
    gap: 10px;
    object-position: center;
    display: grid;
    grid-template-columns: 2fr 1fr;

}

.kontaktBox4 .kontaktAnsprech {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: #798645;
    border-radius: 15px;
    box-shadow: inset 5px 5px 3px #b7c197,
        inset -5px -5px 3px #dfebb9;
}

.kontaktBox4 .kontaktAnsprech p {
    font-size: 1.5rem;
    padding: 1rem;
    color: #feffe9;

}

.kontaktBox4 .kontaktAnsprech strong {
    font-size: 1.5rem;
    color: #c9f7a4;
}

.kontaktBox4 .kontaktImg2 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.kontaktBox4 .kontaktImg2 img {
    background-color: aqua;
    width: 100%;
    border-radius: 15px;
    /* box-shadow: 1px 5px 5px #b7c197; */
    height: 100%;
    object-fit: cover;
    object-position: center;

}

.kontaktBox5 {
    grid-column: 1/span 2;
    grid-row: 5;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
    border-radius: 15px;
}

.kontaktBox5 iframe {

    border-radius: 15px;
}


@media (max-width: 1024px) {
    .kontaktBox1 {
        grid-template-columns: 1fr;
        /* Eine Spalte für Tablets */
        text-align: center;
    }

    .kontaktBox1 h1 {
        font-size: 3rem;
        /* Kleinere Schriftgröße */
    }
}

@media (max-width: 768px) {
    .kontaktBox1 {
        padding: 0 0.5rem;
    }

    .kontaktBox1 .imgHero img {
        border-radius: 10px;
    }

    .kontaktBox1 h1 {
        font-size: 2.5rem;
        /* Schriftgröße für kleinere Bildschirme */
        padding: 1.5rem;
    }

    .kontaktBox3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .kontaktBox4 {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;

    }
}

@media (max-width: 480px) {
    .mainContainer {
        grid-template-columns: 1fr;
        /* Eine Spalte für Smartphones */
    }

    .kontaktBox2 h1 {
        font-size: 2rem;
        /* Schriftgröße für Smartphones */
    }

    .kontaktBox3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .kontaktBox3 .kontaktAdresse p {
        font-size: 1.2rem;
    }


    .kontaktBox3 .kontaktAdresse strong {
        font-size: 1.3rem;
        color: #c9f7a4;
    }

    .kontaktBox3 .kontaktAdresse span {
        font-size: 1.3rem;
        color: #feffe9;
    }

    .kontaktBox4 {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;

    }

    .kontaktBox4 .kontaktAnsprech p {
        font-size: 1.2rem;
        padding: 0;
    }


    .kontaktBox4 .kontaktAnsprech strong {
        font-size: 1.3rem;
        color: #c9f7a4;
    }

    .kontaktBox4 .kontaktAnsprech span {
        font-size: 1.3rem;
        color: #feffe9;
    }

    .kontaktBox1 {
        padding: 0;
    }
}