.mainContainer {
    display: grid;
    width: 100%;
    min-height: 100vh;
    grid-template-columns: repeat(1, 1fr);

}

.kontaktBox1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 10px;
    padding: 0 1rem;
    margin: 0.2rem;
}

.kontaktBox1 .imgHero {
    width: 100%;
    object-fit: cover;
    object-position: center;
    grid-column: 1/span 2;
    grid-row: 1;
}

.kontaktBox1 .imgHero img {
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    grid-column: 1/span 2;
    grid-row: 1;
    object-fit: cover;
    object-position: center;
    filter: brightness(80%);

}

.kontaktBox1 h1 {
    grid-column: 1/span 2;
    grid-row: 2;
    font-size: 4rem;
    padding: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #798645;
    text-align: center;
    font-family: "Lucida", cursive;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kontaktBox2 {
    display: grid;
    /* border: #af4b04 1px solid; */
    grid-template-columns: repeat(2, 1fr);
    margin: 0 3rem 3rem 3rem;
    gap: 1rem;
    border-radius: 10px;
}

.kontaktBox2 .adresse {
    padding: 1rem;
    border-radius: 10px;
    box-shadow: inset 5px 5px 3px #b7c197,
        inset -5px -5px 3px #dfebb9;
}

.adresse strong {
    color: darkolivegreen;
    font-size: 1.5rem;
}

.adresse p {
    font-size: 1.4rem;
    padding: 1rem;
}


.kontaktBox2 .adresse a {
    color: darkolivegreen;
    text-decoration: none;
}

.kontaktBox2 .ansprechpartner {
    /* border: 1px solid red;
    background-color: #af048d; */
    border-radius: 10px;
    padding: 1rem;
    background: #cbd6a8;
    box-shadow: inset 5px 5px 3px #b7c197,
        inset -5px -5px 3px #dfebb9;

}

.ansprechpartner strong {
    color: darkolivegreen;
    font-size: 1.5rem;

}

.ansprechpartner p {
    font-size: 1.4rem;
    padding: 1rem;
}

.kontaktBox3 {
    height: 30rem;
    width: 100%;
    margin: 0 auto;
    border-radius: 10px;
    padding: 0 3rem 3rem 3rem;
}

.kontaktBox3 iframe {
    background-color: aqua;
    width: 100%;
    height: 100%;

    border-radius: 9px;
    background: linear-gradient(145deg, #b7c197, #d9e5b4);
    box-shadow: 5px 5px 3px #b7c197,
        -5px -5px 3px #dfebb9;
}

@media screen and (max-width: 700px) {
    .mainContainer {
        grid-template-columns: repeat(1, 1fr);
    }

    .kontaktBox1 {
        grid-template-columns: repeat(1, 1fr);
    }

    .kontaktBox1 h1 {
        font-size: 3rem;
    }

    .kontaktBox2 {
        grid-template-columns: repeat(1, 1fr);
    }

    .kontaktBox2 .adresse {
        padding: 1rem;
    }

    .kontaktBox2 .ansprechpartner {
        padding: 1rem;
    }

    .kontaktBox3 {
        padding: 1rem;
    }

    .kontaktBox3 iframe {
        background-color: aqua;
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }

}