/* .mainContainer {
    display: grid;
    width: 100%;
    min-height: 100vh;
    grid-template-columns: repeat(1, 1fr);

}

.kontaktBox1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 10px;
    padding: 0 1rem;
    margin: 0.2rem;
}

.kontaktBox1 .imgHero {
    width: 100%;
    object-fit: cover;
    object-position: center;
    grid-column: 1/span 2;
    grid-row: 1;
}

.kontaktBox1 .imgHero img {
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    grid-column: 1/span 2;
    grid-row: 1;
    object-fit: cover;
    object-position: center;
    filter: brightness(80%);

}

.kontaktBox1 h1 {
    grid-column: 1/span 2;
    grid-row: 2;
    font-size: 4rem;
    padding: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #798645;
    text-align: center;
    font-family: "Lucida", cursive;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kontaktBox2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 3rem 3rem 3rem;
    gap: 1rem;
    border-radius: 10px;
}

.kontaktBox2 .adresse {
    padding: 1rem;
    border-radius: 10px;
    box-shadow: inset 5px 5px 3px #b7c197,
        inset -5px -5px 3px #dfebb9;
}

.adresse strong {
    color: darkolivegreen;
    font-size: 1.5rem;
}

.adresse p {
    font-size: 1.4rem;
    padding: 1rem;
}


.kontaktBox2 .adresse a {
    color: darkolivegreen;
    text-decoration: none;
}

.kontaktBox2 .ansprechpartner {
    border-radius: 10px;
    padding: 1rem;
    background: #cbd6a8;
    box-shadow: inset 5px 5px 3px #b7c197,
        inset -5px -5px 3px #dfebb9;

}

.ansprechpartner strong {
    color: darkolivegreen;
    font-size: 1.5rem;

}

.ansprechpartner p {
    font-size: 1.4rem;
    padding: 1rem;
}

.kontaktBox3 {
    height: 30rem;
    width: 100%;
    margin: 0 auto;
    border-radius: 10px;
    padding: 0 3rem 3rem 3rem;
}

.kontaktBox3 iframe {
    background-color: aqua;
    width: 100%;
    height: 100%;

    border-radius: 9px;
    background: linear-gradient(145deg, #b7c197, #d9e5b4);
    box-shadow: 5px 5px 3px #b7c197,
        -5px -5px 3px #dfebb9;
}

@media screen and (max-width: 700px) {
    .mainContainer {
        grid-template-columns: repeat(1, 1fr);
    }

    .kontaktBox1 {
        grid-template-columns: repeat(1, 1fr);
    }

    .kontaktBox1 h1 {
        font-size: 3rem;
    }

    .kontaktBox2 {
        grid-template-columns: repeat(1, 1fr);
    }

    .kontaktBox2 .adresse {
        padding: 1rem;
    }

    .kontaktBox2 .ansprechpartner {
        padding: 1rem;
    }

    .kontaktBox3 {
        padding: 1rem;
    }

    .kontaktBox3 iframe {
        background-color: aqua;
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }

} */

.kontaktContainer {
    min-height: 100dvh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 0 1rem;

}


/* ===================kontaktBox1==================== */
.kontaktBox1 {
    grid-column: 1/span 2;
    grid-row: 1;
    /* background-color: rgb(255, 174, 0); */
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.kontaktBox1 img {
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    object-fit: cover;
    object-position: center;
}

/* ===================kontaktBox2==================== */
.kontaktBox2 {
    grid-column: 1/span 2;
    grid-row: 2;
    /* background-color: aqua; */
    width: 100%;
}


.kontaktBox2 h1 {
    font-size: 4rem;
    padding: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #798645;
    text-align: center;
    font-family: "Lucida", cursive;
    display: flex;
    justify-content: start;
    align-items: start;
}

/* ====================kontaktBox3=================== */
.kontaktBox3 {
    grid-column: 1/span 2;
    grid-row: 3;
    /* background-color: aqua; */
    height: 100%;
    width: 100%;
    object-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kontaktBox3 .kontaktImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.kontaktBox3 .kontaktImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.kontaktBox3 .kontaktAdresse {
    width: 100%;
    height: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #798645;

}

.kontaktBox3 .kontaktAdresse p {
    font-size: 1.5rem;
    padding: 1rem;
    color: #feffe9;
}

/* ======================kontaktBox4================= */
.kontaktBox4 {
    grid-column: 1/span 2;
    grid-row: 4;
    height: 100%;
    width: 100%;
    object-position: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.kontaktBox4 .kontaktAnsprech {
    width: 100%;
    height: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #798645;
}

.kontaktBox4 .kontaktAnsprech p {
    font-size: 1.5rem;
    padding: 1rem;
    color: #feffe9;
}

.kontaktBox4 .kontaktImg2 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.kontaktBox4 .kontaktImg2 img {
    background-color: aqua;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

}

.kontaktBox5 {
    grid-column: 1/span 2;
    grid-row: 5;

    height: 100%;
    width: 100%;

}