.conatinerHome {
    min-height: 100vh;
}

.home1 {
    /* grid-column: 1/span 2;
    grid-row: 1; */
    display: grid;
    gap: 100px;
}

.home1 .headImg {
    grid-column: 1/span 2;
    grid-row: 1;

}

.home1 .headImg img {
    width: 100%;
    height: 100%;
    max-width: auto;
    min-width: auto;
    max-height: auto;
    min-height: auto;
    object-fit: cover;
}

.home1 .headHeader {
    grid-column: 1/span 2;
    grid-row: 1;
    font-size: 3rem;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home1 .headHeader h1 {
    font-size: 5rem;
    color: #feffe9;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    font-family: "Lucida";
    margin-bottom: 1rem;
}

.home1 .headHeader a {
    font-size: 1rem;
    padding: 1rem 5rem;
    border: none;
    background-color: #2f3105;
    color: #feffe9;
    font-size: 1.1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
    text-decoration: none;
}

.home1 .headHeader p {
    font-size: 1rem;
}

/* Home Box2 */
.home2 {
    grid-column: 1;
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
}

.home2 .homeBox1 {
    grid-column: 1/5;
    grid-row: 1;
    max-width: 1200px;
    margin: 0 auto;
    height: auto;
    padding: 0 1rem;

    border-radius: 20px;
    margin: 3rem auto;
    max-width: 1200px;
    gap: 10px;
}


.home2 .homeBox1-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;

}

.home2 .homeBox1-1 h3 {
    color: #d6d02a;
    color: #869f3e;
    text-shadow: 1px 1px 1px #00000080;
    font-size: 5rem;
    font-weight: bolder;
    text-align: center;
}

.home2 .homeBox1-1 .HeaderP {
    font-size: 2rem;
}

.programme {
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    grid-column: 1/5;
    grid-row: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin-top: 2rem;
    gap: 10px;
    max-width: 1200px;
    margin: 3rem auto;
    width: 92%;
    background-color: #f6f6f6;
}

.programme-box .img img:hover {
    transform: scale(1.1);
    transition: all 0.3s;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.programme-box {
    padding: 1rem;
    box-shadow: 10px 0 10px rgba(0, 0, 0, 0.1);
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #F0F9E8;
}

.programme-box .img img {
    width: 100%;
    height: 100%;
    max-width: auto;
    min-width: auto;
    max-height: auto;
    min-height: auto;
    object-fit: cover;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 10px 0 10px rgba(0, 0, 0, 0.1);
}

.programme-box1 {
    padding: 2rem;
    text-align: center;
}

.programme-box1 h3 {
    font-family: "Lucida";
    font-size: 3rem;
    color: #d6d02a;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.programme-box1 p {}

.programme-box1 button {
    border: none;
    border-radius: 9px;
    background: #869f3e;
    box-shadow: inset 10px 10px 20px #768c37,
        inset -10px -10px 20px #96b245;
    font-size: 1.2rem;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    transition: all 0.3s;
    margin-top: 1rem;
}

.programme-box1 button a {
    text-decoration: none;
    color: #feffe9;
}

.homeBox2 {
    grid-column: 1/5;
    grid-row: 3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    max-width: 1200px;
    margin: 0 auto;
    height: auto;
    width: 92%;
}

.homeBox3 {
    max-width: 1200px;
    margin: 0 auto;
    height: auto;
    width: 92%;
    grid-column: 1/5;
    grid-row: 4;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-bottom: 2rem;
}

.homeBox2-text,
.homeBox3-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin: .5rem;
    border-radius: 20px;
    box-shadow: 10px 0 10px rgba(0, 0, 0, 0.1);
    background-color: #d6d02a;
    background-color: #fffdc0;
    background-color: #F0F9E8;
}

.homeBox2-text h3,
.homeBox3-text h3 {
    font-family: "Lucida";
    font-size: 2rem;
    color: #869f3e;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    margin-bottom: 1rem;
}

.homeBox2-text button,
.homeBox3-text button {
    border: none;
    border-radius: 9px;
    background: #869f3e;
    box-shadow: inset 10px 10px 20px #768c37,
        inset -10px -10px 20px #96b245;
    color: #000;
    font-size: 1.2rem;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    transition: all 0.3s;
    margin-top: 1rem;
    display: flex;
    justify-content: start;
}

.homeBox2-text button a,
.homeBox3-text button a {
    text-decoration: none;
    color: #feffe9;
}

.homeBox2-text button:hover,
.homeBox3-text button:hover {
    background-color: #647a24;
    color: #fff;
}

.homeBox2-img,
.homeBox3-img {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
*/
    padding: .5rem;
    margin: .5rem;
    border-radius: 20px;
    box-shadow: 10px 0 10px rgba(0, 0, 0, 0.1);
    background-color: #d6d02a;
    background-color: #fffdc0;
    background-color: #F0F9E8;
}

.homeBox2-img img,
.homeBox3-img img {


    width: 100%;
    height: 100%;
    border-radius: 20px;
    max-width: auto;
    min-width: auto;
    max-height: auto;
    min-height: auto;
    object-fit: cover;
    /* border-radius: 10px; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.homeBox4 {
    display: flex;
    background-color: #feffe9;
    background-color: #fffdc0;
    background-color: #F0F9E8;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6rem 11rem;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    grid-column: 1/5;
    grid-row: 5;
    color: #2f3105;
    width: 100%;
}

.homeBox4 h2 {
    font-size: 2rem;
    font-family: "Lucida";
    color: #869f3e;
    margin-bottom: 1rem;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.homeBox4 .home-team {}

@media screen and (max-width:1100px) {
    .home1 .headHeader h1 {
        font-size: 4rem;
    }

    .home1 .headHeader {
        font-size: 2rem;
        padding: 1rem;
    }

    .home1 .headHeader a {
        font-size: 1rem;
        padding: 0.5rem 1.5rem;
        border: none;
        background-color: #2f3105;
        color: #feffe9;
        font-size: 1.1rem;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.3s;
        text-decoration: none;
    }

    .home2 {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
    }

    .homeBox2 {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }

    .homeBox3 {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }

    .homeBox2-text,
    .homeBox3-text {
        padding: 1rem;
    }

    .homeBox4 {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
    }
}

@media screen and (max-width: 910px) {
    .home1 .headHeader h1 {
        font-size: 4rem;
    }

    .home1 .headHeader {
        font-size: 2rem;
        padding: 1rem;
    }

    .home1 .headHeader a {
        font-size: 1rem;
        padding: 0.5rem 1.5rem;
        border: none;
        background-color: #2f3105;
        color: #feffe9;
        font-size: 1.1rem;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.3s;
        text-decoration: none;
    }

    .home2 {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;

    }

    .homeBox2,
    .homeBox3 {}

    .homeBox2 {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }

    .homeBox1 {
        position: relative;
    }



    .home2 .homeBox1-1 .HeaderP {
        font-size: 1.5rem;
    }

    .home1 .headHeader h1 {
        font-size: 2.2rem;
    }

    .homeBox1 .homeBox1-1 h3 {
        font-size: 2.2rem;
        color: #d6d02a;
    }

    .programme-box .img {
        width: 100%;
    }

    .programme-box .img img {
        width: 100%;
    }


    .home2 .homeBox1-1 h3 {
        color: #d6d02a;
        font-size: 4rem;
    }

    .home2 .homeBox1-1 .HeaderP {
        font-size: 1.6rem;

    }


    .homeBox1-1 span {
        height: 30px;
        width: 30px;
        background-color: #2f3105;
    }

    .homeBox3 {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }

    .homeBox2-img img,
    .homeBox3-img img {}

    .homeBox2-text,
    .homeBox3-text {
        padding: 1rem;
    }

    .homeBox4 {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
    }
}

@media screen and (max-width: 768px) {
    .home1 {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
    }

    .home1 .headImg {
        grid-column: 1/span 1;
        grid-row: 1;
    }

    .home1 .headImg img {}

    .home1 .headHeader {
        grid-column: 1/span 1;
        grid-row: 1;
        font-size: 1.1rem;
        margin-top: 1.5rem;
        padding: 1rem;
    }

    .home1 .headHeader a {
        font-size: 1rem;
        padding: 0.5rem 1.5rem;
        border: none;
        background-color: #2f3105;
        color: #feffe9;
        font-size: 1.1rem;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.3s;
        text-decoration: none;
    }

    .home1 .headHeader h1 {
        font-size: 3.1rem;
    }

    .home2 {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        height: auto;
        ;
    }

    .homeBox1 {
        padding: 1rem;
        margin-bottom: 1rem;
    }

    .homeBox1 .homeBox1-1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    .home2 .homeBox1-1 .HeaderP {
        font-size: 1.5rem;
    }

    .home1 .headHeader h1 {
        font-size: 2.2rem;
    }

    .homeBox1 .homeBox1-1 h3 {
        font-size: 2.2rem;
        color: #d6d02a;
    }

    .programme-box .img {
        width: 100%;
    }

    .programme-box .img img {
        width: 100%;
    }


    .homeBox2 {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;

    }

    .homeBox3 {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;

        display: flex;
        flex-direction: column;
        flex-direction: column-reverse;
    }

    .homeBox2-text,
    .homeBox3-text {
        padding: 1rem;
    }

    .homeBox2-text button,
    .homeBox3-text button {
        padding: 0.5rem 1.5rem;
        border: none;
        background-color: #2f3105;
        color: #000;
        font-size: 1.1rem;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.3s;
        display: flex;
        justify-content: start;
        flex-direction: column;
        align-items: start;
    }

    .homeBox4 {
        padding: 1rem;

    }

    .homeBox4 .home-team {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}


@media screen and (max-width: 602px) {
    .home1 {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
    }

    .home1 .headImg {
        grid-column: 1/span 1;
        grid-row: 1;
    }


    .home1 .headHeader {
        grid-column: 1/span 1;
        grid-row: 1;
        font-size: 1rem;
        margin-top: 1.9rem;
        padding: 1rem;
    }

    .home1 .headHeader a {
        font-size: 1rem;
        padding: 0.5rem 1.5rem;
        border: none;
        background-color: #2f3105;
        color: #feffe9;
        font-size: 1.1rem;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.3s;
        text-decoration: none;
    }



    .home2 .homeBox1-1 .HeaderP {
        font-size: 1.5rem;
    }

    .home1 .headHeader h1 {
        font-size: 2.2rem;
    }

    .homeBox1 .homeBox1-1 h3 {
        font-size: 2.2rem;
    }

    .programme-box .img {
        width: 100%;
    }

    .programme-box .img img {
        width: 100%;
    }


    .home2 .homeBox1-1 h3 {
        color: #d6d02a;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
        font-size: 5rem;
    }

    .home2 .homeBox1-1 .HeaderP {
        font-size: 1.5rem;
    }

    .home1 .headHeader h1 {
        font-size: 2.2rem;
    }

    .homeBox1 .homeBox1-1 h3 {
        font-size: 2.2rem;
    }

    .programme-box .img {
        width: 100%;
    }

    .programme-box .img img {
        width: 100%;
    }

    .programme-box1 h3 {
        font-size: 2rem;
    }

    .programme-box1 button {
        font-size: 1.2rem;
        padding: 0.2rem 1.1rem;
    }

    .homeBox2-text h3,
    .homeBox3-text h3 {
        font-size: 2.2rem;
    }

    .home-team h2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 2.2rem;
    }

}

@media screen and (max-width: 483px) {
    .home1 {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
    }

    .home1 .headImg {
        grid-column: 1/span 1;
        grid-row: 1;
    }

    .home1 .headHeader {
        grid-column: 1/span 1;
        grid-row: 1;
        font-size: 1rem;
        margin-top: 1.9rem;
        padding: 1rem;
    }

    .home1 .headHeader a {
        font-size: 1rem;
        padding: 0.5rem 1.5rem;
        border: none;
        background-color: #2f3105;
        color: #feffe9;
        font-size: 1.1rem;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.3s;
        text-decoration: none;
    }

    .home2 .homeBox1-1 h3 {
        color: #d6d02a;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
        font-size: 5rem;
    }

    .home2 .homeBox1-1 .HeaderP {
        font-size: 1.5rem;
    }


    .homeBox1 .homeBox1-1 h3 {
        font-size: 2.2rem;
    }

    .programme-box .img {
        width: 100%;
    }

    .programme-box .img img {
        width: 100%;
    }


    .home1 .headHeader h1 {
        font-size: 1.5rem;
    }

    .home2 {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
    }

    .homeBox1 {
        margin-bottom: 1rem;
    }

    .homeBox1 .homeBox1-1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem 1rem;
    }

    .homeBox1 .homeBox1-1 h3 {
        font-size: 1.8rem;

    }

    .home2 .homeBox1-1 .HeaderP {
        font-size: 1.2rem;

    }

    .homeBox2 {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;

    }

    .homeBox3 {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
        display: flex;
        flex-direction: column;
        flex-direction: column-reverse;
    }

    .homeBox2-text,
    .homeBox3-text {
        padding: 0.3rem;
    }


    .homeBox2-text h3,
    .homeBox3-text h3 {
        font-size: 1.8rem;
    }

    .homeBox2-text button,
    .homeBox3-text button {
        padding: 0.5rem 1.5rem;
        border: none;
        background-color: #2f3105;
        color: #000;
        font-size: 1.1rem;
        border-radius: 5px
    }

    .home-team h2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1.8rem;
    }

}


@media screen and (max-width: 310px) {
    .home1 {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
    }

    .home1 .headImg {
        grid-column: 1/span 1;
        grid-row: 1;
    }

    .home1 .headImg img {}

    .home1 .headHeader {
        grid-column: 1/span 1;
        grid-row: 1;
        font-size: 1rem;
        margin-top: 1.9rem;
        padding: 1rem;
    }

    .home1 .headHeader a {
        font-size: .5rem;
        padding: 0.5rem .8rem;
        border: none;
        background-color: #2f3105;
        color: #feffe9;
        font-size: 1.1rem;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.3s;
        text-decoration: none;
    }

    .home2 .homeBox1-1 h3 {
        color: #d6d02a;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
        font-size: 5rem;
    }

    .home2 .homeBox1-1 .HeaderP {
        font-size: 1.5rem;
    }

    .homeBox1 .homeBox1-1 h3 {
        font-size: 2rem;
    }

    .homeBox1 .homeBox1-1 .HeaderP {
        font-size: 1rem;
    }

    .programme-box .img {
        width: 100%;
    }

    .programme-box .img img {
        width: 100%;
    }

    .home1 .headHeader h1 {
        font-size: .9rem;
    }

    .home2 {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
    }

    .homeBox1 {
        padding: 1rem;
        margin-bottom: 1rem;
    }

    .homeBox1 .homeBox1-1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .homeBox2 {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;

    }

    .homeBox3 {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;

        display: flex;
        flex-direction: column;
        flex-direction: column-reverse;
    }

    .homeBox2-text,
    .homeBox3-text {
        padding: 1rem;
    }

    .homeBox2-text button,
    .homeBox3-text button {
        padding: 0.5rem 1.5rem;
        border: none;
        background-color: #2f3105;
        color: #000;
        font-size: 1.1rem;
        border-radius: 5px
    }
}