.abläufe {
    padding: 0 1rem;
}

.abläufe img {
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    object-fit: cover;
    object-position: center;
    filter: brightness(80%);
    z-index: 1;
}

.abläufe h1 {
    font-size: clamp(1rem, 5vw, 4rem);
    text-transform: uppercase;
    font-family: "Lucida", sans-serif;
    color: #869f3d;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 3rem;
    padding: 2rem;
    background-color: #feffe9;
}

@media screen and (max-width: 1024px) {
    .abläufe {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "box box";
    }
}

@media screen and (max-width: 768px) {
    .abläufe {
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: "box";
    }
}

@media screen and (max-width: 540px) {
    .abläufe {
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: "box";
    }
}

@media screen and (max-width: 364px) {
    .abläufe {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "box box";
    }


    .abläufe h1 {
        font-size: clamp(1rem, 5vw, 4rem);
        text-transform: uppercase;
        font-family: "Lucida", sans-serif;
        color: #869f3e;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
        text-align: center;
        margin-top: 2rem;
        margin-bottom: 3rem;
        padding: 1rem;
        background-color: #feffe9;
    }

}

@media screen and (max-width: 280px) {
    .abläufe {
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: "box";
    }

}