li a {
    font-family: "Comico", sans-serif;
    text-decoration: none;
    color: #000000;
    font-size: 1.2rem;
    padding: 1rem;
}

.nav {
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 600;

}

/* .mainNav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #88C273;
    height: 10vh;
    width: 100%;
    top: 0;
    z-index: 100;
} */