/* Grundlegendes Layout für die Navigation */
.mainNav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 10;
    transition: background-color 0.3s ease;
}

/* 
.mainNav h3 {
    display: none;
} */

/* Burger-Icon Design (fixiert) */
.burger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    height: 27px;
    width: 40px;
    z-index: 20;
    position: fixed;

    top: 20px;
    right: 20px;
    transition: all 0.5s ease;
}

.burger-line {
    height: 6px;
    width: 100%;
    background-color: #feffe9;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

/* X-Icon */
.close-icon {
    font-size: 40px;
    font-family: "Lucida", sans-serif;
    color: #feffe9;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    position: fixed;
    top: 8px;
    right: 20px;
}

/* Seitenmenü (Side Menu) */
.sideMenu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #a9c25c;
    width: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 10;
    transition: all 0.5s ease;
}

/* Menü-Links */
.nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.nav li {
    margin: 20px 0;
}



.nav a {
    border-radius: 5px;
    text-align: center;
    position: relative;
    text-decoration: none;
    color: #feffe9;
    padding: 15px 25px;
    transition: color 0.3s ease;
    transition: background-color 0.3s ease;
    text-decoration: none;
    font-weight: bold;
    font-family: "Lucida", sans-serif;
}

.nav a:hover {
    color: #fffdcc;
    /* Optional: Textfarbe ändern */
}

.nav a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    /* Höhe des Strichs */
    background-color: #fffdcc;
    /* Farbe des Strichs */
    transition: width 0.3s ease;
    /* Animationsdauer und Übergang */
}

.nav a:hover::after {
    width: 100%;
    /* Der Strich breitet sich auf die volle Breite aus */
}


/* Für kleine Bildschirme (z.B. Handys und Tablets) */
@media (max-width: 838px) {

    /* Burger-Icon anzeigen */
    .burger {
        display: flex;
    }

    /* Standardmäßig das Menü ausblenden */
    .sideMenu {
        width: 0%;
    }

    /* Wenn das Menü geöffnet ist, anzeigen */
    .sideMenu.open {
        width: 100%;
    }

    /* Menüpunkte erscheinen nacheinander */
    .nav li {
        margin: 20px 0;
    }

    .nav a {
        font-size: 35px;
        padding: 15px 25px;
    }

    /* Desktop Navbar ausblenden auf kleinen Bildschirmen */
    .desktopNav {
        display: none;
    }
}

/* Für große Bildschirme (Desktop) */
@media (min-width: 837px) {


    /* Burger-Menü ausblenden */
    .burger {
        display: none;
    }

    /* Mobile Menü ausblenden */
    .sideMenu {
        display: none;
    }

    /* Normale horizontale Navbar */
    .desktopNav {
        display: block;
    }

    /* Desktop Navbar Links */
    .nav {
        display: flex;
        flex-direction: row;
    }

    .nav li {
        margin-right: 30px;
    }

    .nav a {
        font-size: 28px;
        padding: 15px 2px;
        text-shadow: #1a1a1a 1px 1px 1px;
    }
}