@font-face {
    font-family: 'Satoshi';
    src: url('../assets/Satoshi-Variable.ttf') format('truetype')
}

@font-face {
    font-family: 'Comico';
    src: url("../../assets/Comico-Regular.ttf") format('truetype');

}

@font-face {
    font-family: 'Tanker';
    src: url("../../assets/Tanker-Regular.ttf") format('truetype');

}

@font-face {
    font-family: 'Supreme';
    src: url("../../assets/Supreme-Variable.ttf") format('truetype');

}

@font-face {
    font-family: 'Pally';
    src: url("../../assets/Pally-Variable.ttf") format('truetype');
}

@font-face {
    font-family: 'Lucida';
    src: url("../../assets/LucidaHandwritingStdBlack.TTF") format('truetype');
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #feffe9;
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    font-family: "Supreme", sans-serif;
    box-sizing: border-box;
}

.tagesablauf {
    display: grid;
    width: 100%;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "header header header "
        "bringzeit morgenkreis mittagessen"
        "ruhezeit vesper nachmittagszeit"
    ;
}

.tagesablauf {
    background-image: url("../../assets/img/TagesImg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    width: 100%;

    max-width: 1300px;
}

.tagesablauf>div {
    color: #435318;
    width: 100%;
    height: 290px;
    padding: 20px 10px;
    border-radius: 10px;
    background-color: #feffe9;
}

.tagesablauf>div::after {
    background-color: #859F3D;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    position: relative;
    content: "Im Text scrollen.";
}

.tagesablauf>div:nth-child(6)::after {
    margin-top: 4rem;
}

.box-tagesablauf {
    border: 3px solid #a4d716;
    box-shadow: 5px 5px 9px #798645,
        -5px -5px 9px #f6f6f6;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    animation: ease-in-out 1s;
    transition: 0.5s;

}

h4 {
    font-size: 1.5rem;
    font-family: "Supreme", sans-serif;
    font-weight: 700;
    color: #798645;

}

.header {
    font-size: clamp(2rem, 5vw, 4rem);
    font-family: "Lucida", sans-serif;
    font-weight: 700;
    color: #feffe9;
    background-color: #7986456e;
    padding: 10px;
    border-radius: 10px;
    grid-area: header;
    text-align: center;

}

.bringzeit {
    padding: 10px;
    grid-area: bringzeit;
    cursor: pointer;
    width: 100%;
    overflow-y: auto;
    padding: 10px;
}

.morgenkreis {
    grid-area: morgenkreis;
    cursor: pointer;
    width: 100%;
    overflow-y: auto;
    padding: 10px;
}


p {
    margin: 10px 0;
    font-size: 1.2rem;
    color: #859F3D;
}

.mittagessen {
    padding: 10px;
    cursor: pointer;
    width: 100%;
    overflow-y: auto;
    padding: 10px;
}

.ruhezeit {
    padding: 10px;
    cursor: pointer;
    width: 100%;
    overflow-y: auto;
    padding: 10px;
}

.vesper {
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    overflow-y: auto;
    padding: 10px;
}

.nachmittagszeit {
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    overflow-y: auto;
    padding: 10px;
}

@media screen and (max-width: 1024px) {
    .tagesablauf {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "header  header"
            "bringzeit morgenkreis "
            "mittagessen ruhezeit "
            "vesper nachmittagszeit"
        ;
    }

}

@media screen and (max-width: 768px) {
    .tagesablauf {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "header  header"
            "bringzeit morgenkreis "
            "mittagessen ruhezeit "
            "vesper nachmittagszeit"
        ;
    }
}

@media screen and (max-width: 600px) {
    .tagesablauf {
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"

            "bringzeit"

            "morgenkreis"

            "mittagessen"

            "ruhezeit"

            "vesper"

            "nachmittagszeit"
        ;

    }


}


@media screen and (max-width: 480px) {
    .tagesablauf {
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"

            "bringzeit"

            "morgenkreis"

            "mittagessen"

            "ruhezeit"

            "vesper"

            "nachmittagszeit"
        ;

    }

    .header {
        font-size: 1.5rem;
    }

    h4 {
        font-size: 1.2rem;
    }

    p {
        font-size: 1rem;
    }

}

@media screen and (max-width: 370px) {

    .tagesablauf {
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"

            "bringzeit"

            "morgenkreis"

            "mittagessen"

            "ruhezeit"

            "vesper"

            "nachmittagszeit"
        ;
        width: 100%;
    }

    .tagesablauf div {
        width: 100%;
    }

    .header {
        font-size: 1.5rem;
    }

    h4 {
        font-size: 1.2rem;
    }

    p {
        font-size: 1rem;
    }

}



@media screen and (max-width: 280px) {
    .tagesablauf {
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"

            "bringzeit"

            "morgenkreis"

            "mittagessen"

            "ruhezeit"

            "vesper"

            "nachmittagszeit"
        ;

    }

    .header {
        font-size: 1rem;
    }

    h4 {
        font-size: 1.2rem;
    }

    p {
        font-size: 1rem;
    }

}


@media screen and (max-width: 240px) {
    .tagesablauf {
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"

            "bringzeit"

            "morgenkreis"

            "mittagessen"

            "ruhezeit"

            "vesper"

            "nachmittagszeit"
        ;

    }

    .header {
        font-size: .8rem;
    }

    h4 {
        font-size: 1.2rem;
    }

    p {
        font-size: 1rem;
    }

}