@font-face {
    font-family: 'Satoshi';
    src: url('../assets/Satoshi-Variable.ttf') format('truetype')
}

@font-face {
    font-family: 'Comico';
    src: url("../../assets/Comico-Regular.ttf") format('truetype');

}

@font-face {
    font-family: 'Tanker';
    src: url("../../assets/Tanker-Regular.ttf") format('truetype');

}

@font-face {
    font-family: 'Supreme';
    src: url("../../assets/Supreme-Variable.ttf") format('truetype');

}

body {
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tagesablauf {
    font-family: 'Satoshi', sans-serif;
    margin: 20px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "header header header "
        "bringzeit morgenkreis mittagessen"
        "ruhezeit vesper nachmittagszeit"

    ;
}

@media screen and (max-width: 768px) {
    .tagesablauf {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "header  header"
            "bringzeit morgenkreis "
            "mittagessen ruhezeit "
            "vesper nachmittagszeit"
        ;
    }

}

@media screen and (max-width: 500px) {
    .tagesablauf {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-template-areas:
            "header"

            "bringzeit"

            "morgenkreis"

            "mittagessen"

            "ruhezeit"

            "vesper"

            "nachmittagszeit"
        ;

    }

}

.tagesablauf>div {


    color: white;
    width: 100%;
    height: 260px;
    padding: 20px;
    text-shadow: #859F3D 1px 1px 1px;
    border-radius: 18px;
    background: #859F3D;
    box-shadow: inset -10px 10px 20px #718734,
        inset 10px -10px 20px #99b746;
}

.header {
    font-family: 'Comico', sans-serif;
    grid-area: header;
}

.bringzeit {
    background-color: #f4f4f4;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    grid-area: bringzeit;
    cursor: pointer;
    width: 100%;
    /* Festlegen der maximalen Höhe */
    overflow-y: auto;
    /* Vertikalen Scrollbalken bei Überlauf anzeigen */
    padding: 10px;

}

.morgenkreis {
    background-color: #f4f4f4;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    grid-area: morgenkreis;
    cursor: pointer;
    width: 100%;
    /* Festlegen der maximalen Höhe */
    overflow-y: auto;
    /* Vertikalen Scrollbalken bei Überlauf anzeigen */
    padding: 10px;

}

.morgenkreis p {
    margin: 10px 0;
}

.mittagessen {
    background-color: #f4f4f4;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    width: 100%;
    /* Festlegen der maximalen Höhe */
    overflow-y: auto;
    /* Vertikalen Scrollbalken bei Überlauf anzeigen */
    padding: 10px;
}

.ruhezeit {
    background-color: #f4f4f4;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    width: 100%;
    /* Festlegen der maximalen Höhe */
    overflow-y: auto;
    /* Vertikalen Scrollbalken bei Überlauf anzeigen */
    padding: 10px;
}

.vesper {
    background-color: #f4f4f4;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    width: 100%;
    /* Festlegen der maximalen Höhe */
    overflow-y: auto;
    /* Vertikalen Scrollbalken bei Überlauf anzeigen */
    padding: 10px;
}

.nachmittagszeit {
    background-color: #f4f4f4;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    width: 100%;
    /* Festlegen der maximalen Höhe */
    overflow-y: auto;
    /* Vertikalen Scrollbalken bei Überlauf anzeigen */
    padding: 10px;
}