@font-face {
    font-family: 'Satoshi';
    src: url('../assets/Satoshi-Variable.ttf') format('truetype')
}

@font-face {
    font-family: 'Comico';
    src: url("../../assets/Comico-Regular.ttf") format('truetype');

}

@font-face {
    font-family: 'Tanker';
    src: url("../../assets/Tanker-Regular.ttf") format('truetype');

}

@font-face {
    font-family: 'Supreme';
    src: url("../../assets/Supreme-Variable.ttf") format('truetype');

}

@font-face {
    font-family: 'Pally';
    src: url("../../assets/Pally-Variable.ttf") format('truetype');
}

body {
    background-color: #c3d2ae;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tagesablauf {
    font-family: 'Satoshi', sans-serif;
    margin: 20px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "header header header "
        "bringzeit morgenkreis mittagessen"
        "ruhezeit vesper nachmittagszeit"

    ;
    margin-top: 6rem;
}


.tagesablauf>div {
    color: #859F3D;
    width: 100%;
    height: 290px;

    padding: 20px 10px;
    background: #E9EED9;
    /* box-shadow: inset -10px 10px 20px #718734,
        inset 10px -10px 20px #99b746; */
}

.box-tagesablauf {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: #E9EED9;
    padding: 10px;
    animation: ease-in-out 1s;
    transition: 0.5s;
}

h4 {
    font-size: 1.5rem;
    font-family: "Pally", sans-serif;
    font-weight: 700;
    color: #859F3D;
}

.header {
    font-size: 3rem;
    font-family: "Pally", sans-serif;
    font-weight: 700;
    color: #859F3D;
    padding: 2rem 0 0 0;
    grid-area: header;
    text-align: center;
}

.bringzeit {
    background: #E9EED9;
    border-radius: 5px;
    padding: 10px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    grid-area: bringzeit;
    cursor: pointer;
    width: 100%;
    /* Festlegen der maximalen Höhe */
    overflow-y: auto;
    /* Vertikalen Scrollbalken bei Überlauf anzeigen */
    padding: 10px;
}

.morgenkreis {
    background: #E9EED9;
    border-radius: 5px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    grid-area: morgenkreis;
    cursor: pointer;
    width: 100%;
    /* Festlegen der maximalen Höhe */
    overflow-y: auto;
    /* Vertikalen Scrollbalken bei Überlauf anzeigen */
    padding: 10px;
}


.morgenkreis p {
    margin: 10px 0;
}

.mittagessen {
    background: #E9EED9;
    border-radius: 5px;
    padding: 10px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    cursor: pointer;
    width: 100%;
    /* Festlegen der maximalen Höhe */
    overflow-y: auto;
    /* Vertikalen Scrollbalken bei Überlauf anzeigen */
    padding: 10px;
}

.ruhezeit {
    background: #E9EED9;
    border-radius: 5px;
    padding: 10px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    cursor: pointer;
    width: 100%;
    /* Festlegen der maximalen Höhe */
    overflow-y: auto;
    /* Vertikalen Scrollbalken bei Überlauf anzeigen */
    padding: 10px;
}

.vesper {
    background: #E9EED9;
    border-radius: 5px;
    padding: 10px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    cursor: pointer;
    width: 100%;
    overflow-y: auto;
    padding: 10px;
}

.nachmittagszeit {
    background: #E9EED9;
    border-radius: 5px;
    padding: 10px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    cursor: pointer;
    width: 100%;
    overflow-y: auto;
    padding: 10px;
}


@media screen and (max-width: 768px) {
    .tagesablauf {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "header  header"
            "bringzeit morgenkreis "
            "mittagessen ruhezeit "
            "vesper nachmittagszeit"
        ;
    }

}

@media screen and (max-width: 500px) {
    .tagesablauf {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-template-areas:
            "header"

            "bringzeit"

            "morgenkreis"

            "mittagessen"

            "ruhezeit"

            "vesper"

            "nachmittagszeit"
        ;

    }

}