.DatenSchutz {
    margin: 0 auto;
    max-width: 1300px;
    padding: 2rem;
    border-radius: 10px;
    margin-top: 5rem;
}


.DatenSchutz h1 {
    font-size: 4rem;
    color: #869f3e;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    padding: 2rem 0;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-family: "Lucida", cursive;
    display: flex;
    justify-content: start;
    align-items: start;
    margin: 0 auto;
    max-width: 1300px;


}

.DatenSchutz h2 {
    color: #869f3e;
    line-height: 1.6;
    margin-bottom: 20px;
}

.DatenSchutz {
    font-size: 1rem;
    line-height: 1.6;
    color: #869f3e;

    margin-bottom: 20px;
}

.DatenSchutz p {
    font-size: 1.2rem;
    color: #869f3e;
    line-height: 1.6;
    margin-bottom: 20px;
}

.DatenSchutz a {
    color: #3b4123dd;
    text-decoration: none;
}

.DatenSchutz ul {
    color: #798645;
    list-style-type: circle;
    list-style-image: -moz-element("../images/arrow.svg");
}




.DatenSchutz strong {
    color: #869f3e;
}

.DatenSchutz a:hover {
    color: #869f3e;
}

@media screen and (max-width: 1024px) {
    .DatenSchutz {
        padding: 1rem;
    }

    .DatenSchutz h1 {
        font-size: 3rem;
    }

    .DatenSchutz h2 {
        font-size: 2rem;
    }

    .DatenSchutz p {
        font-size: 1.5rem;
    }

    .DatenSchutz a {
        font-size: 1.5rem;
    }

    .DatenSchutz ul {
        font-size: 1.5rem;
    }

    .DatenSchutz strong {
        font-size: 1.5rem;
    }

}

@media screen and (max-width: 992px) {
    .DatenSchutz {
        padding: 1rem;
    }

    .DatenSchutz h1 {
        font-size: 2.8rem;
    }

    .DatenSchutz h2 {
        font-size: 1.8rem;
    }

    .DatenSchutz p {
        font-size: 1.2rem;
    }

    .DatenSchutz a {
        font-size: 1.2rem;
    }

    .DatenSchutz ul {
        font-size: 1.2rem;
    }

    .DatenSchutz strong {
        font-size: 1.2rem;
    }

}

@media screen and (max-width: 768px) {
    .DatenSchutz {
        padding: 1rem;
    }

    .DatenSchutz h1 {
        font-size: 2.2rem;
    }

    .DatenSchutz h2 {
        font-size: 1.5rem;
    }

    .DatenSchutz p {
        font-size: 1rem;
    }

    .DatenSchutz a {
        font-size: 1rem;
    }

    .DatenSchutz ul {
        font-size: 1rem;
    }

    .DatenSchutz strong {
        font-size: 1rem;
    }

}

@media screen and (max-width: 576px) {
    .DatenSchutz {
        padding: 1rem;
    }

    .DatenSchutz h1 {
        font-size: 1.8rem;
    }

    .DatenSchutz h2 {
        font-size: 1.2rem;
    }

    .DatenSchutz p {
        font-size: 1rem;
    }

    .DatenSchutz a {
        font-size: 1rem;
    }

    .DatenSchutz ul {
        font-size: 1rem;
    }

    .DatenSchutz strong {
        font-size: 1rem;
    }

}

@media screen and (max-width: 480px) {
    .DatenSchutz {
        padding: 1rem;
    }

    .DatenSchutz h1 {
        font-size: 1.5rem;
    }

    .DatenSchutz h2 {
        font-size: 1.2rem;
    }

    .DatenSchutz p {
        font-size: 1rem;
    }

    .DatenSchutz a {
        font-size: 1rem;
    }

    .DatenSchutz ul {
        font-size: 1rem;
    }

    .DatenSchutz strong {
        font-size: 1rem;
    }

}