.footer {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    background-color: #b8bc7f;

    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 4rem;
    width: 100%;

}

.footer .info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 10px;
    background-color: #b8bc7f;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.info a {
    color: #2f3105;
    text-decoration: none;
}

.footerBox1 {}

.footerBox2 {
    background-color: #aeba0d;
}