.footer {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    background-color: #b8bc7f;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 4rem;
    width: 100%;
}

.footer .info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
}

.footer .footerBox1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
}

.footer .footerBox2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
}

.footer .footerBox3 p {
    color: #2f3105;
    text-align: center;
    text-shadow: 1px 1px 1px #0000002e;
}

.info a {
    color: #2f3105;
    text-decoration: none;
}